$subMenuBg:#1f2d3d;
$menuHover:#001528;
// 导航主色调
$menuBg:#444;
$bodyBy:#f2f2f2;

/* reset 重置样式
---------------------------------------------------------------- */
html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, fieldset, form, label, input, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, article, aside, audio, canvas, figure, footer, header, mark, menu, nav, section, time, video { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote { display: block; }
ul, ol { list-style: none; }
img { border: 0 none; vertical-align: top; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
table { border-collapse: collapse; border-spacing: 0; }
strong, em, i { font-style: normal; font-weight: normal; }
ins { text-decoration: underline; }
del { text-decoration: line-through; }
mark { background: none; }
input::-ms-clear { display: none !important; }
body { font-size: 16px; background: #fff; }
a { text-decoration: none; color: #333; }
a:hover { text-decoration: underline; }

html {
    box-sizing: border-box;
}
body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
  
*,
*:before,
*:after {
	box-sizing: inherit;
}

div:focus{
	outline: none;
}

a:focus,
a:active {
	outline: none;
}
  
a,
a:focus,
a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
}
  
.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

//面包屑
.breadcrumb {
	padding:  6px 15px;
	margin: 10px;
}

//css
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.t-newtab-container {
	width: 100%;
	height: 50px;
	// line-height: 48px;
	background: white;
	border-bottom: 1px solid #e5e5e5;
	padding: 0 10px;
	overflow: hidden;
}
.t-prompt-content{
	position: absolute;
	width: 200px;
	right: -200px;
	bottom: 0;
	box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
	z-index: 99;
	top: 0;
	background: white;
}
.t-po-r {
	min-width: 945px;
}
html,body,#app {
	height: 100%;
}

.el-table--enable-row-hover .el-table__body tr:hover>td{background:white !important}

//main-container全局样式
.app-main{
	min-height: 100%
}

.app-container {
	padding: 20px;
}
.t-p-content-10{
	background: white;
	border: none;
	margin: 10px 10px 0;
}
.t-container{
	padding: 15px;
	min-width: 750px;
	min-height: 900px;
}
.t-search-content{
	background: #f8f8f8;
	padding: 20px 15px;
}
.t-mini-buttom{
	margin-bottom: 15px
}
.w-100{
	width: 100%;
}
.w-80{
	width: 80%;
}
.el-form-item__label {
	display: inline-block;
	width: 120px;
	font-size: 12px;
	line-height: 30px;
	text-align: right;
	vertical-align: top;
	font-weight: 400
}
.el-input--mini .el-input__inner {
	height: 30px;
	max-height: 36px;
	display: inline-block;
	min-width: 80px;
	height: 100%;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 0;
	border: 1px solid #bbb;
	color: #333;
	font-size: 12px;
	border-radius: 2px;
	box-shadow: none;
	transition: border .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
	transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
	transition: border .2s ease-in-out,box-shadow .2s ease-in-out,-webkit-box-shadow .2s ease-in-out;
	appearance: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 5px 20px 5px 10px;
}
.el-input__prefix{
	display: none
}
.w-460{
	width: 460px;
}

//element-ui 
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
}
.avatar {
    width: 150px;
    height: 150px;
    display: block;
}
.el-tabs__header {
	background: #fff;
	padding: 0 15px;
}

//css
.layout-wrapper {
    height: 100%;
    .tabs-container {
        height: 100%;
        overflow: scroll;
        .main-conainer {           
            padding: 0 15px;
            .content {
                background: #ffffff;
                padding: 15px;
                border-radius: 4px;
            }
        }
    }
}
.nav-bar {
    height: 60px;
    line-height: 60px;
    background-color: #fefefe;
    padding: 0 30px;
} 

